<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springbook.chatbotserver.chat.model.mapper.FacilityMapper">

    <select id="findByFacilityType" resultType="springbook.chatbotserver.chat.model.domain.Facility">
        SELECT b.name AS "name", f.location_detail AS "locationDetail", b.map_url AS "mapUrl"
        FROM facilities f
                 JOIN buildings b
                      ON f.building_number = b.building_number
        WHERE f.facility_type = #{facilityType}
    </select>
</mapper>